

<div class="panel panel-default">
    <div class="panel-heading">
     Ajout de produit
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"></div>
            <form class="col-md-4">
                <div class="form-group">
                    <label for="code">Code barre du produit</label>
                    <input id="code" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Nom du produit</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="prix">Prix du produit</label>
                    <input id="prix" type="text" class="form-control">
                </div>

                <button class="btn btn-primary" type="submit">Ajouter</button>
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>