<!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				    <li class="text-center">
                        <img src="assets/img/find_user.png" class="user-image img-responsive"/>
					</li>
                    <li>
                        <a  routerLink="/listprod"><i class="fa fa-edit fa-3x"></i> Produit </a>
                    </li>
                </ul>
               
            </div>
            
        </nav>  

        <router-outlet></router-outlet>