<!-- <ul>
	<li *ngFor="#listP of listProd">
		{{listP.codeP}} - {{listP.nom}} - {{listP.prix}}
	</li>
</ul> -->

<!-- <ul>
	<li *ngFor="let course of courses">
		{{course}}
	</li>
</ul> -->

<div class="panel panel-default">
    <div class="panel-heading">
     Listes des produits
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
        		<ul>
					<li *ngFor="let listP of listProd">
						{{listP.codeP}} - {{listP.nom}} - {{listP.prix}}
					</li>
				</ul>
		</div>
        </div>
    </div>
</div>